<html>

<body>

<a href="http://localhost:5000">Display User Grades</a> 
<a href="http://localhost:5000/addstudent">Create New Student Record</a> 
<a href="http://localhost:5000/addproject">Create New Project Record</a> 
<a href="http://localhost:5000/addgrade">Add Student Grade</a> 

<form action="/newproject">

<label for="title">Enter project title</label>
<input type="text" name="title" />

<label for="description">Enter project description</label>
<input type="text" name="description" />

<label for="maxgrade">Enter maximum grade of project</label>
<input type="number" name="maxgrade" />

<input type="submit">
</form>
</body>
</html>