<html>
<a href="http://localhost:5000">Display User Grades</a> 
<a href="http://localhost:5000/addstudent">Create New Student Record</a> 
<a href="http://localhost:5000/addproject">Create New Project Record</a> 
<a href="http://localhost:5000/addgrade">Add Student Grade</a> 


<body>
<form action="/newgrade">

<label for="github">Enter student's github</label>
<input type="text" name="github" />

<label for="project">Enter Project name</label>
<input type="text" name="project" />

<label for="grade">Enter student's grade</label>
<input type="text" name="grade" />

<input type="submit">
</form>
</body>
</html>