<html>
    <body>
<a href="http://localhost:5000">Display User Grades</a> 
<a href="http://localhost:5000/addstudent">Create New Student Record</a> 
<a href="http://localhost:5000/addproject">Create New Project Record</a> 
<a href="http://localhost:5000/addgrade">Add Student Grade</a> 

    {% for project in projects %}
    <p>Student Github: <a href="http://localhost:5000/studentgrades?student={{project.github}}">{{project.github}}</a>; <b>Grade:{{project.grade}}</b></p>
    {% endfor %}

    <p>These are all the grades for a particular project.</p>

    </body>
</html>
