<html>
    <body>
        <a href="/">Display User Grades</a> 
        <a href="/addstudent">Create New Student Record</a> 
        <a href="/addproject">Create New Project Record</a> 
        <a href="/addgrade">Add Student Grade</a> 

        <p>Number of grades: {{ rows | length }}</p>

        {% for row in rows %}
        <p>Grade: {{row.grade}}; <b><a href="/allgrades/{{row.project_title}}">{{row.project_title}}</A></b></p>
        {% endfor %}

        <p>These are all the grades for student: {{student_github}}.</p>
    </body>
</html>
